db/schema.rb
public/stylesheets/*.css
log/**/*.log
log/*.log
tmp/**/*
tmp/*
.DS_Store
doc/api
doc/app
doc/*.dot
config/database.yml
config/taskr_config.yml
coverage
coverage.data
nbproject
db/test.sqlite3
db/development.sqlite3
localdev_bootstrap_dump.sql.bz2
lib/migrations/pharmacy_wire_database.yml
vendor/rails
script/dbconsole
vendor/plugins/acts_as_audited/test/debug.log
public/javascripts/jquery.js.uncompressed
vendor/plugins/has_autosave_and_nested_params
public/customer_documents
cd_dump.sql
config/selenium.yml
.ackrc
webrat-*.html
config/*.sphinx.conf
db/sphinx/
public/images/tuneup/
public/javascripts/tuneup/
public/stylesheets/tuneup/
